[2020-12-31 10:35] rav-redchamps opened #1 "Grids for storefront"
Hey @Vinai @wigman

This is not exactly an issue, it's a more of feedback or discussion.

How about renaming folder

vendor/hyva-themes/module-magento2-admin/view/adminhtml

to

vendor/hyva-themes/module-magento2-admin/view/base

That should allow the grid implementation in both storefront and admin.

For example it can be used to implement the "My Orders" section in customer account to be impleme

[2020-12-31 12:10] rav-redchamps commented on #1
Hi again

Just realised that renaming folder "vendor/hyva-themes/module-magento2-admin/view/adminhtml" will not be enough, many changes are require.

For example,
- moving di.xml outside adminhtml area
- making the area path dynamic, instead of hardcoded "adminhtml" https://github.com/hyva-themes/magento2-hyva-admin/blob/990c0859cbed89cf21d736ca4e8a8818cee7b8ed/Model/Config/GridDefinitionConfigFil

[2020-12-31 13:22] Vinai commented on #1
Oh my gawd, this is amazing!
I love it 💕 Never thought of that use case.

Before merging a PR, I would like to discuss with @wigman about what that would mean in regards to css bundling size on the frontend.
Also, maybe the alpinejs initialization can be improved as in the adminhtml it needs to coexist with requirejs.
Maybe we need to split the core grid logic into a separate module that is used i

[2020-12-31 13:48] wigman commented on #1
This is very cool indeed. There are a lot of complications that come with this though. There are factors we don't care about in admin that become a problem when it's facing customers in frontend. The tailwind bundle size being one of them (it's _megabytes_ big).

It's entirely out of the scope for what this module is originally meant for and I personally don't have the resources available to work

[2020-12-31 19:51] mrtuvn commented on #1
Imho i think only have some common thing for both grid area but keep separate for each area. Admin grid will never same as frontend grid. Not like Magento did previously hardcore class grid used for both area

[2021-01-01 05:20] paugnu opened #2 "Alpine.js CDN Content Security Warning"
Hi,

When browsing Hyva Admin Grids I'm getting the following error in the javascript console:

Steps to reproduce:

1. In a fresh install of Magento 2 with sample data, Install hyva-themes/magento2-hyva-admin and hyva-themes/magento2-hyva-admin-test
2. Go to System » Tools » Hyva Test
3. Open the js Console in Chrome and reload the page
4. You'll see the mentioned error above in the js Console

T

[2021-01-01 08:07] wigman commented on #2
Hi @paugnu,

thanks for reporting and offering to create a PR!

having it locally would actually be preferred indeed.
I suppose view/js/alpinejs.js would be a good place, but feel free to suggest anything else.

cheers!

[2021-01-01 08:10] wigman opened #3 "Improvement: split grid.phtml"
The grid.phtml file would ideally be split into a few phtml files, loaded via layout xml.

basically for each container (nav/filters, table), JS, and for each table part.

[2021-01-02 20:54] Vinai commented on #3
I was wondering about this, too.
Often the features interleave, for example, when massactions are defined, the extra column at the beginning needs to be rendered for the table header, too.
Or when filters are applied, the reset button needs to be rendered above the grid.
It is a rather large template, but would it really make things simpler to split it?

A large template can be split into smaller

[2021-01-02 21:11] Vinai commented on #1
After mulling this over for a few days, my current thoughts are it would be easy to make the grid generation area independent, with basically the changes @rav-redchamps mentioned.

Before refactoring the module to make the grid generation logic area independent, I would like to improve the integration test suite a bit so it no longer depends on the sample data.
I also would like to set up CI in gi

[2021-01-02 21:14] Vinai commented on #1
@mrtuvn I agree the ui components hardcoding admin classes in base area files is awful. **sigh**
We will not repeat that mistake (I'm sure we will make plenty of mistakes of our own, but not that one).

[2021-01-02 21:16] Vinai opened #5 "Set up CI on github"
Probably github actions
Need to run unit and integration tests on PHP 7.4 and PHP 7.3 for each branch/PR.

Need to clean up integration tests first so they don't require sample data to be installed.

[2021-01-02 21:18] Vinai opened #6 "Clean up integration tests"
Currently some of the integration tests depend on sample data (i.e. attributes, products and - I think - customers being present in the DB that are declared as part of the sample data.

These need to be refactored to use proper fixtures instead.
This is a blocker for #5

[2021-01-02 22:41] theshreyas opened #7 "Installation ERROR : unexpected 'HyvaGridInterfaceFactory' (T_STRING), expecting function (T_FUNCTION) .."
PHP Parse error:  syntax error, unexpected 'HyvaGridInterfaceFactory' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) in app/code/Hyva/Admin/Block/Adminhtml/HyvaGrid.php on line 11

Magento Version :  2.3.5-p2
PHP Version : 7.2.34

I am not sure, but does it only support 2.4 ?

[2021-01-04 07:09] paugnu commented on #7
I think the problem is PHP 7.2.

Check this:
https://github.com/hyva-themes/magento2-hyva-admin/blob/main/doc/1.%20Overview/1.%20Installation.md

Minimum requirement is PHP 7.3

[2021-01-04 13:34] Vinai commented on #7
Yeah, probably an issue with PHP 7.2, It shouldn't be too hard to backport though.
Since the class is in app/code/, it seems like you cloned the git repo instead of using a composer package installation.
That's fine, but I wanted to note that there is a php73 branch which might work better/be less work to backport, compared to the main branch which is for PHP 7.4.

[2021-01-04 13:36] #7 closed

[2021-01-04 15:11] #6 closed

[2021-01-04 17:22] Vinai commented on #5
Currently integration and unit tests are separate workflows.
Reminder to self: check if combining integration and unit tests as separate jobs in a single workflow is better.

[2021-01-05 12:02] wigman commented on #3
Absolutely, but also for extensibility.

[2021-01-05 15:58] Vinai commented on #5
Can't install rector or rector-prefixed in Magento due to deps hell and can't use rector docker because I want it to run in an unprivileged docker github action.
Don't want to spend the time to build a custom image and action.

Going to have to backport and test locally.

[2021-01-06 17:15] VincentMarmiesse opened #8 "DOMDocument::loadXML() expects parameter 1 to be string, object given"
Hi,

It seems there is an issue in [the `mergeFile` function](https://github.com/hyva-themes/magento2-hyva-admin/blob/main/Model/Config/GridConfigReader.php#L78) of the `GridConfigReader` class.

The `merge` function of `XmlDom $merged` [requires a `string`](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Config/Dom.php#L146) and but you're calling it with a `Xm

[2021-01-07 05:05] #2 closed

[2021-01-07 11:58] Vinai commented on #8
Thanks for your report!
What Magento and PHP versions are you using?

[2021-01-07 13:38] VincentMarmiesse commented on #8
Hi,
I am using Magento 2.4.1 and PHP 7.4.11.

[2021-01-07 16:09] Vinai commented on #8
Just pushed release 1.0.3 that fixes the issue. Thanks again!

[2021-01-07 16:09] #8 closed

[2021-01-08 09:35] Vinai opened #9 "Update tailwind url-regex deps because of security"
See https://github.com/hyva-themes/magento2-hyva-admin/security/dependabot
Details: https://github.com/hyva-themes/magento2-hyva-admin/security/dependabot/view/adminhtml/web/tailwind/package-lock.json/url-regex/open

[2021-01-08 14:45] Vinai commented on #1
@rav-redchamps I've refactored out the [grid dir locator](https://github.com/hyva-themes/magento2-hyva-admin/blob/main/Model/Config/HyvaGridDirs.php) logic and removed the hardcoded `adminhtml` in there.

[2021-01-08 14:59] Vinai commented on #1
@rav-redchamps Also refactored the block logic into an abstract base class, with `Block\Adminhtml\HyvaGrid` and`Block\FrontendHyvaGrid` extending it.
See https://github.com/hyva-themes/magento2-hyva-admin/tree/main/Block

[2021-01-08 15:14] Vinai commented on #1
@rav-redchamps And finally replaced the Backend\UrlInterface with the generic one.
Thanks you very much for exploring what needed to be changed.

I haven't tested using the grid on the frontend, but I think the core logic should be in good shape now.

[2021-01-08 15:16] Vinai commented on #1
What is still missing for frontend grids to be a thing?

- hyva theme grid adapter module with a frontend JS initialization and template
- maybe a luma theme grid adapter module with a knockoutjs or vanilla js implementation and template

[2021-01-10 21:01] adamkarnowka commented on #3
Hello - I think additional containers in specific places would increase extendibility with keeping maintainability intact.
For example - if I want to add some button (f.e `Add` button) near `Display` button, I could be able to define new block and template for this area via XML update - currently I cannot see option to add buttons for grid, right?

Thanks for great work!

[2021-01-11 09:57] Vinai commented on #3
@adamkarnowka Thank you for your input.
You are right, currently there is no way to add buttons inside the grid.

I've been pondering the issue of extensibility.
Because simplicity is a main design goal of the grid module, I don't want users to be able to declare only the grid block in layout XML and that should be enough.
In order to add containers that can be addressed in layout XML, the whole g

[2021-01-12 17:07] Vinai commented on #3
@adamkarnowka FYI I've added grid buttons, they still need styling so they haven't been merged just yet.

[2021-01-12 17:30] adamkarnowka commented on #3
Thanks!

I totally see your point about simplicity of grid xml. Some other elements that might be needed for grids:
- message/alert above grid ("Cron is not running so data might be not updated") - this can be resolved by global messages, but still could be useful for grid
- dropdowns or buttons for exporting (csv/xml/xls)

I am currently building new extension which will use hyva-grids heavily so

[2021-01-12 17:51] Vinai commented on #3
Looking forward to hearing them very much!

[2021-01-12 18:58] paugnu opened #10 "Add Hidden option to Column Config"
Hi,

I think it might be interesting to add a new Column Config option: isHidden (note that this is different from 'Exclude').

The idea is to have the column available to be displayed, but not visible by default.

I'll try to implement this myself, I have a lot to learn though :)

[2021-01-12 18:59] paugnu opened #11 "Add new Column Config option: isHidden (to be included in grid but not displayed by default)"
Hi,

I think it might be interesting to add a new Column Config option: isHidden (note that this is different from 'Exclude').

The idea is to have the column available to be displayed, but not visible by default.

I'll try to implement this myself, I have a lot to learn though :)

[2021-01-12 21:42] Vinai commented on #10
Thanks for your suggestion, makes sense.
This is interesting because the column property from the grid XML influences the initial settings for the JS Display dropdowns.
If you want to continue, let me know please if you have specific questions regarding the implementation.
Should you run out of time or motivation though, no problem :)
I or someone else can pick up the issue.

[2021-01-12 21:43] Vinai commented on #10
Duplicate of #11

[2021-01-12 21:43] #10 closed

[2021-01-12 21:43] Vinai commented on #11
Thanks for your suggestion, makes sense.
This is interesting because the column property from the grid XML influences the initial settings for the JS Display dropdowns.
If you want to continue, let me know please if you have specific questions regarding the implementation.
Should you run out of time or motivation though, no problem :)
I or someone else can pick up the issue.

[2021-01-12 21:44] Vinai opened #12 "Improve button styles"
The new buttons in the [branch `grid-buttons`](https://github.com/hyva-themes/magento2-hyva-admin/tree/grid-buttons) need some style love. :)
Thanks!

[2021-01-12 21:47] Vinai commented on #12
For reference, the button template is https://github.com/hyva-themes/magento2-hyva-admin/blob/grid-buttons/view/adminhtml/templates/grid/button.phtml

And it is rendered in the [grid.phtml before the Display dropdown](https://github.com/hyva-themes/magento2-hyva-admin/blob/grid-buttons/view/adminhtml/templates/grid.phtml#L100-L102).
Of course, please feel free to change whatever you want to make i

[2021-01-13 05:55] paugnu commented on #11
I think I can do it myself :) (I've already added and retrieved the isHidden column definition). But in terms of frontend, the logic seems to be trickier:
- At this moment we have a session variable where we only store the columns that are 'hidden'
- We cannot extend directly that feature because it might incur in some incoherence: we need to be consistent when saving each column visibility status

[2021-01-13 07:52] Vinai commented on #11
I would like to write up a few bullet points (in this thread) how I would go about adding a new column option when I have time this afternoon.

Regarding the frontend state in JS, currently the array with hidden columns is initialized as an empty array. I guess adding the column keys where `isHidden="true"` there when the array is initialized (that is, when it is not already set in the session sto

[2021-01-13 08:40] Vinai commented on #11
@paugnu I'm writing this down even though you probably already figured all or most of it out on your own.
I'm doing this so I have a place where it is in writing, to point myself and others to in future.

That said, here are the steps I would take to add a new column property:

1. The first thing I'd do is I'd add the property to a test in the class `\Hyva\Admin\Test\Unit\Model\Config\GridXmlToArr

[2021-01-13 08:54] Vinai commented on #11
While looking over the code to write the above steps, I noticed the `ColumnDefinition::$isVisible` property already exists.
It indicates if a column should be rendered or not, based on whether it is excluded or not included in the grid columns definition.

This in unfortunate, because adding a property with the name `isHidden` will lead to a lot of confusion.
It would seem that the properties `isV

[2021-01-13 09:12] paugnu commented on #11
OK, I see you've already done it! while I was answering :). I agree on your concerns about 'isVisible'. Actually, before opening the issue I did some checks on his to be sure this Column Definition was what I was actually defining.

From my point of view, as a dev, 'isInitiallyHidden' defines clearly what we I would like to achieve.

It makes sense. I'll implement it and check of the possible case

[2021-01-13 15:03] Vinai opened #14 "Improve LIKE wildcard character escaping in TextFilter"
Fix LIKE wildcard character escaping in `\Hyva\Admin\Model\GridFilter\TextFilter::apply`.
This could be more robust.

[2021-01-13 15:05] Vinai opened #15 "Implement Ajax Paging"
This is almost done already (in the ajax-paging branch).
What is left to do is maybe adding a spinner or some kind of similar feedback, and more testing:

- [x] check paging on a page with multiple grids
- [x] check ajax paging is disabled when a cell rendererBlockName is
- [x] Update docs
- [ ] Style spinner (#20)

[2021-01-13 15:06] Vinai opened #16 "Clean up NamespaceMap::readUntilCassDefiniton"
Clean up `\Hyva\Admin\Model\TypeReflection\NamespaceMap::readUntilCassDefiniton`.

[2021-01-13 15:07] Vinai opened #17 "Implement Query Source Type"
Allow developers to display db table content directly without having to implement intermediate PHP classes.

Roughly I had something like this in mind (**EDIT: SEE [UPDATED VERSION IN THREAD BELOW](https://github.com/hyva-themes/magento2-hyva-admin/issues/17#issuecomment-814735524)**)):

[code]
This is a very rough draft  and unfinished, all open to change.
It is first attempt to come up with a in

[2021-01-13 15:08] Vinai opened #18 "Implement inline grid editing"
Nuff said.

[2021-01-13 20:00] Vinai commented on #3
@adamkarnowka FYI because you mentioned them, button support is in the just released 1.0.6.

[2021-01-14 05:36] Vinai commented on #9
done.

[2021-01-14 05:36] #9 closed

[2021-01-14 05:36] Vinai commented on #12
Thanks for the styling yesterday!
Working with it, maybe make the buttons look like the [ Previous Page | Next Page ] buttons, that is, white background.
I like the blue for the reset filters button, but the blue in the top buttons doesn’t look quite right… what do you think about that?

[2021-01-14 05:41] Vinai opened #20 "Style ajax loading spinner"
I've added a [small spinner](https://github.com/hyva-themes/magento2-hyva-admin/blob/ajax-paging/view/adminhtml/templates/grid.phtml#L16-L20) to indicate to the user something is happening when ajax paging is enabled.
It can be seen in the branch `ajax-paging`.

I've tried to add some styling with tailwind but quickly got very lost.
Could you please make it look right of the prev/next buttons?

Th

[2021-01-14 05:46] Vinai opened #21 "Add link to first/last page to navigation."
I often find I would like to go back to the first page. This would be helpful.

[2021-01-14 06:41] Vinai commented on #15
This feature is almost complete in the `ajax-paging` branch.
The documentation is already updated.
All that is missing before it can be merged s a bit of styling for the spinner, see #20.

[2021-01-14 09:53] Vinai commented on #21
Closed thanks to the PR from @Bartlomiejsz 🚀

[2021-01-14 09:53] #21 closed

[2021-01-15 13:57] Vinai commented on #15
Released in 1.0.8

[2021-01-15 13:57] #15 closed

[2021-01-15 13:57] Vinai commented on #11
Released in 1.0.8

[2021-01-15 13:57] #11 closed

[2021-01-18 10:23] Vinai opened #24 "Need ability to declare bind params for grids and forms"
This issue is intended as a design discussion.

There is a problem I’m trying to find a good solution to. I would appreciate any ideas or suggestions.

The problem exists for grids and forms, but for forms it’s more obvious.
Often a grid is embedded in a page with additional data, e.g. on a customer detail page all their pending reviews could be shown, or on a product page I want to show all order

[2021-01-18 10:25] Vinai commented on #24
My current idea to only support mapping of query arguments to fields, either with an `eq` or an `in` type condition.
This would probably be good enough for most cases. More complex scenarios would then require the use of an event observer.

Here is a first idea for the XML
[code]

This would also allow adding additional bind params that would be bound to additional method parameters.
[code]
This w

[2021-01-18 10:38] Vinai commented on #24
Comment via Slack from @schmengler:

What about something like this for arbitrary state:
[code]

[2021-01-18 10:40] Vinai commented on #24
I like that the most common case is quite simple and elegant.
I also like a lot that both search criteria mappings and also method arguments could be covered, that is field and maybe something like an argument  node, that then could be passed in addition to the search criteria. The wrapping node then should be something like `queryBindings` or such.

The method `<field><arguments>` node looks dang

[2021-01-18 10:47] schmengler commented on #24
If the recursive nature makes it too complex, 1 level is probably enough. In cases where it isn't you could still create a custom class. You wanted to prevent this for typical cases, not for every case I guess

[2021-01-18 13:27] Vinai commented on #24
It shouldn't be possible to bind multiple values to the same field, so I think it would make sense to use field attributes instead.
Here is what I thought could work instead:

[code]

The first and second declarations are equivalent and would both map to
[code]
The `requestParam` attribute is for convenience.

The third declaration would map to
[code]
This would be accomplished with the help of re

[2021-01-18 13:32] Vinai commented on #24
To apply the bindings to the `SearchCriteria` instance an `eq` condition should be used by default.
Other conditions, for example `in` or `finset` could be specified, too, using an `condition` attribute.
I've updated the example above to include one such attribute.

[2021-01-18 16:14] Vinai commented on #24
A fist implementation can be found in the bindparams branch:
https://github.com/hyva-themes/magento2-hyva-admin/blob/bindparams/Model/GridSource/SearchCriteriaBindings.php

Tests:
https://github.com/hyva-themes/magento2-hyva-admin/blob/bindparams/Test/Integration/Model/GridSource/SearchCriteriaBindingsTest.php

[2021-01-19 10:57] paugnu opened #26 "Initial value for is_used_defined columns"
Hi,

I'm trying to create a product grid that could be used on any project which had custom product attributes (for example: I have a project where 50 extra product attributes have been created).

I would like to create the product grid with the following pre-conditions:

- By default, I use `<include keepAllSourceColumns="true">` to get all product attributes
- All custom attributes that have bee

[2021-01-19 11:37] Vinai commented on #26
Thanks for opening the issue and introducing your use case!
I understand your need. I wonder for how many other developers that feature would be useful.

Maybe it would make sense try and make this more generic.
Maybe we could add a setting to the columns config to supply a class.
This class then can implement the custom logic to determine the initially hidden state, or it could also change other

[2021-01-19 11:40] paugnu commented on #26
Thanks, @Vinai, I'll take a look and see if I can implement something like that :)

[2021-01-19 12:02] Vinai commented on #26
I think the event/observer solution is better. What do you think?

[2021-01-19 12:09] paugnu commented on #26
It actually is.

When I first thought of this feature, I was thinking of writing a preference or plugin in my module. But I think that using event/observer is the best way to customize in any possible while keeping the Hyva Admin base as simple as possible, only adding features that could be a 'general' need.

[2021-01-19 12:32] Vinai commented on #26
Probably `\Hyva\Admin\ViewModel\HyvaGridViewModel::buildColumnDefinitions` would be a good place.
It also knows the `gridName`, so it can be included in the event code.

Check `\Hyva\Admin\Model\GridSourcePrefetchEventDispatcher::getGridNameEventSuffix` for an example of transforming the grid name so it is suitable as part of the event code.

[2021-01-19 12:57] Vinai commented on #24
Implemented and merged into main.

[2021-01-19 12:57] #24 closed

[2021-01-19 19:31] Vinai commented on #24
Quick follow up in case someone stumbles over this thread.
I refactored the syntax before releasing the feature so the class and method are specified in a single attribute instead of separate `class` and `method`.
This avoids the issue where one is overridden through XML merging and the other is not.

[code]

[2021-01-20 05:07] paugnu commented on #26
Thanks @Vinai, I'll take a look. This will take me some time, but I happy to work on it :)

[2021-01-20 08:42] Vinai opened #27 "Forms support"
This is a high level issue for implementing form support in Hyva_Admin.

Design goals:

- Automatic form creation given existing
  - repository/data models
  - ORM model/resource model
- Use defaults that get the job done with as little code as possible
- Provide reasonable customization mechanisms
- Aim to satisfy 80%-90% of all use cases.
  The most complex use cases always can be solved with cu

[2021-01-20 09:14] Vinai commented on #27
### Initial drafts.

#### Loading and saving entity data:
Every form needs a load and a save declaration.

Repository/Data model:
[code]

ORM Model/Resource model:
[code]

Not all of the elements and attributes above are required.
If the entity type can be determined based on the load method return type, it does not have to be declared in the XML.

When saving a form, the submitted data will be us

[2021-01-20 09:16] Vinai commented on #27
### Field type determination

The type determination will probably not be very reliable. Text input fields will be used as a lowest common denominator if no more specific input type can be automatically determined.

[2021-01-20 09:48] speedupmate commented on #27
there's also use-case for field comments, field grouping , separators , labels , radio-buttons , submit button labels , submit button actions , ease of providing css, js inclusion paths per form

[2021-01-20 17:16] Vinai commented on #27
@speedupmate can you give a little more info on what you would like to have for "js inclusion paths per form"?

[2021-01-20 21:13] speedupmate commented on #27
The sections in magento2 admin are under single layout handler, I'm not sure how you are approaching this but giving each form or section its in a separate layout handler would allow those forms to be targeted with css and js bit more elegantly

[2021-01-21 08:49] paugnu commented on #26
Hi @Vinai,

I've done the modifications and created the observer in my module. The problem I found was that if I wanted to access ColumnDefinition class variables (initiallyHidden, for example), I need these variables to be public (instead of private).

`public function execute(\Magento\Framework\Event\Observer $observer)
    {
        $columnDefinitions = $observer->getData('column_definitions');

[2021-01-21 09:14] Vinai commented on #27
@speedupmate Thanks for clarifying. Hyva Forms will be loaded using layout XML (or as a block in a `htmlContent` uicomponent) which means they "have" specific layout handles already. They are different from the system.xml forms.

[2021-01-21 09:29] Vinai commented on #27
### JS integration

Currently I have the following thoughts on allowing JS integration.

#### Binding an alpinejs view model

A form can have a `x-init` and a `x-data` attributes or child nodes. The content would be placed in the matching attributes on a `<div>` wrapping the form.
If a JS function is referenced in either of the attributes, it can be either specified inline in a separate .phtml tem

[2021-01-21 09:47] Vinai commented on #27
### Data Flow

Data needs to flow from the server into the rendered form, and then back again to the server.
The shape of this data is determined by the form `load` and `save` elements, following a fallback approach.

#### Loading data into the form

Steps to determine the data shape for rendering the form:

1. If an `entity` attribute is specified on the `load` attribute, the available fields and

[2021-01-21 10:06] speedupmate commented on #27
I'm not so experienced with alpinejs jet but I think it is enough to leave your objects as x-data="{}" and provide all bindings to events in js implementation , you know like oldschool code and template separation. Otherwise its just like knockoutjs experience with bindings just all over the templates and a nightmare to debug

Since you are defining forms the onsubmit and other event handlers you

[2021-01-21 20:49] Vinai commented on #26
Most objects in Hyva_Admin are immutable after instantiation. They might use memoization internally, but there is no way to alter properties from the outside.
Instead of changing a column definition, create a new instance.
You can see an example in `\Hyva\Admin\Model\GridSource::mergeColumnDefinitions`

[code]

In your case it would be the `initiallyHidden` property that would need to be set inste

[2021-01-21 20:55] Vinai commented on #26
Some thoughts: maybe it makes sense to create a single class to dispatch the different events?
That way the logic to convert the grid name to an event suffix wouldn't be duplicated.

The event probably needs a container object so PHP passes it by reference.
See `\Hyva\Admin\Model\GridSourceType\RepositorySourceType\SearchCriteriaEventContainer` for an example.
Then the observers could replace the

[2021-01-22 06:19] paugnu commented on #26
- Regarding modifying column definitions, I'll check what you propose (in addition, it seems to me that I was proposing something ugly...)
- It makes sense creating one class to dispatch all events. I'll look into it as well :)

[2021-01-22 09:10] Vinai commented on #26
I don't think calling it "ugly" is true. It just is different.
My goal when I decided to make the classes immutable was to make it easier to use the classes in the way I intended them to be used. I didn't think of the current use case.
Anyhow, I still think the current design works, but probably there should be a method that contains the merging logic, so it is easier to use.

That would probably

[2021-01-24 07:41] navinbhudiya opened #28 "Notice: Undefined variable: secureRenderer in"
I have installed the magento2-hyva-admin.

**Update my product grid xml like**
vendor/magento/module-catalog/view/adminhtml/layout/catalog_product_index.xml
[code]

**Getting error like this**

 exception(s):
Exception #0 (Exception): Notice: Undefined variable: secureRenderer in pub/developer/app/code/Hyva/Admin/view/adminhtml/templates/page/js/require_js.phtml on line 16

Exception #0 (Exception

[2021-01-24 07:47] paugnu commented on #26
If I understood you well, this would mean something like creating a generic class for dispatchers, for example:
- Model/HyvaAdminEventDispatcher.php

Also creating a new [generic] class for containers:
- Hyva/Admin/Model/GridSourceType/HyvaAdminEventContainer.php

Or should we create a new class for each type of container? (I see that the methods will be the same constuct/replace/get)

Arguments f

[2021-01-24 08:00] paugnu commented on #28
Hi @https://github.com/navinbhudiya

I don't think you have used Hyva Admin Grids in the way you're supposed to do so.

It's pretty straight forward to use:
* Create your module
* Create your hyva grid configuration. In that example module could be:
https://github.com/hyva-themes/hyva-admin-test-module/blob/main/view/adminhtml/hyva-grid/products-grid.xml
* Update a section or create a new section

[2021-01-24 08:11] adamkarnowka commented on #3
Thanks, works like a charm! One suggestion / idea I'd have is the option to specify block class together with template.
That would allow to create totally custom elements containing some logic, for example - custom dropdown for "Add new..." button (available options depend on settings):

![image](https://user-images.githubusercontent.com/511845/105624697-0c1d1c00-5e24-11eb-95d2-b9b50af6c999.png)

[2021-01-24 08:30] adamkarnowka commented on #3
One more thing - if you're fine with it I can prepare PR with this change, should be quite easy as I can see.

Regards
Adam

[2021-01-24 13:32] Vinai commented on #3
@adamkarnowka Because the core deprecated custom blocks, it might be better to add a child element to add viewModels.
They can provide any data or contain custom logic like blocks.
[code]
They could then be automatically assigned as a template variable or maybe retrieved from the block like regular view models (`$viewModel = $block->getData('button_data')`).

Would that work for you?

[2021-01-24 15:52] Vinai commented on #28
Please also refer to the documentation at https://github.com/hyva-themes/magento2-hyva-admin/tree/main/doc/1.%20Overview/3.%20Walkthrough

[2021-01-24 16:32] Vinai commented on #26
Yes, that's what I was thinking of 👍

[2021-01-25 12:52] Vinai opened #29 "Add source model provider attribute for filters"
There are use cases where a source model for a filter is needed, even though the column isn't an array attribute.
When a source model is set on a filter, it should default to `\Hyva\Admin\Model\GridFilter\SelectFilter` for the filter type.

[2021-01-27 05:07] paugnu commented on #26
Hi @Vinai,

I've been trying to get this to work. But I'm struggling with the HyvaAdminEventContainer. Basically, in the example of SearchCriteriaEventContainer, when we call the function «getSearchCriteria», the return type is SearchCriteriaInterface, which is ready to be used.

When I use HyvaAdminEventContainer with more 'generic' functions like «getContainer / replaceContainer», I don't know h

[2021-01-27 06:12] Vinai commented on #26
In php there is no way.
Other languages or static code analysis tools like psalm for php) have this idea of generics to solve this problem.
In PHP you can either omit the return type, or add one getFoo/setFoo method  pair for each type.
Without return types the caller can add a phpdoc type hint to the returned value to make static code analysis work again.
In this case probably a generic det/set p

[2021-01-28 05:05] Vinai commented on #26
I’m occupied by other work this week, sorry if this comes a bit late.

I just realized my earlier comments mean backward incompatible changes, since events and the event arguments are part of the public extensibility api.

I think it’s important to avoid backward incompatible changes, even if an earlier design decision turned out to be bad.

Because of this, please don’t remove the existing event

[2021-01-28 07:54] paugnu commented on #26
Hi @Vinai, no problem at all. Last days I've been so busy that I didn't have the time to look deeper :)

I won't remove the existing container. I'll try to create the new one without returning any type. If this didn't work, please let me know if you'd rather to look into it later on, or if I can just create a «specific» container for ColumnDefinition.

All this is because I have a particular need

[2021-01-28 08:45] Vinai commented on #26
Your use case it a typical one: customizing the default values for a column based on some business requirements.
So thanks for bringing this up and being willing to work with me :)

[2021-02-05 17:05] Vinai commented on #28
Seems like this issue has resolved itself.

[2021-02-05 17:05] Vinai commented on #29
Oh, this was already included in release 1.1.2.

[2021-02-05 17:05] #29 closed

[2021-02-06 03:55] paugnu commented on #26
https://github.com/hyva-themes/magento2-hyva-admin/commit/14adbfc7e718b815176fa1ac54bf755587c9050d

[2021-02-06 03:55] #26 closed

[2021-02-06 05:41] paugnu opened #31 "If grid_name contains hyphen '-', some events won't work"
Hi,

I created a new grid with the name product-grid. Afterwards, I wanted to create an event to modify the columns.

As per explained here:
https://github.com/hyva-themes/magento2-hyva-admin/blob/main/doc/2.%20API%20Reference/Event%20Reference/Grid%20Column%20Definition%20Build%20After%20Event.md

My event name would be:
`hyva_grid_column_definition_build_after_product-grid`

But if I try to use

[2021-02-06 10:40] Vinai commented on #27
## Sectioning and Grouping

Currently I think I'll use a similar strategy as is used in the system configuration.
In there we have Tabs, Sections and Groups.
However, for Hyva_Admin forms I think it will be better to limit this to two organizing levels: Tabs and collapsable Groups.

Fist draft of how it could work:

[code]
The following scenarios have to be handled:
1. No tabs are declared, no fie

[2021-02-06 13:15] Vinai commented on #27
## JS Integration

My current plan is to allow adding events to fields:
[code]
The event name would be built from using the schema `hyva_form_[form-name]_[field_name]_[event_name]`.
For example `hyva_form_foo_title_change`.
The event name is not customizable so there is no chance of accidentally disabling event observers of other modules.

Subscribers receive an object containing the field element

[2021-02-06 13:24] Vinai commented on #31
The method that changes the grid name into an event name suffix takes care of that:
[code]
That will replace `-` with `_`
In your case the PHP event observer should be for the event `hyva_grid_column_definition_build_after_product_grid`

[2021-02-06 13:24] #31 closed

[2021-02-06 13:31] Vinai commented on #31
PS: I've updated the docs with this information.

[2021-02-06 15:14] schmengler opened #33 "Page count when filtering grids"
With active filters the page count still is calculated based on all grid entries, not the filtered grid entries, resulting in added blank pages at the end

[2021-02-06 15:47] Vinai commented on #33
Good catch!

[2021-02-06 16:20] Vinai commented on #33
I assume this is with an array grid source provider?

[2021-02-06 16:36] #33 closed

[2021-02-07 11:35] schmengler opened #34 "JavaScript Grid Actions"
A feature I'd like to see: allow something like "onclick" instead of "url" in grid actions. This allows AJAX requests, popups and other actions that do not require navigating to a new page

[2021-02-07 15:07] Vinai commented on #34
What should the attribute value be... a js expression?

[2021-02-08 09:39] Vinai opened #35 "JavaScript extensibility for grids and forms"
## Issue Description

This Issue is to document the thoughts and decisions regarding how to enable developers to trigger JavaScript on visitor actions, and to gather feedback.

Originally I started thinking about it in relation to the forms (issue #27), but @Fabian Schmengler has a use case for the grids, too (see #34).

I think a common solution should be used.

---

## A) Event specific attribut

[2021-02-08 09:40] Vinai commented on #35
Whatever approach comes up on top, I'll first create a prototype to see how it feels to use it.
Any feedback or additional ideas are very welcome.

[2021-02-08 11:22] schmengler commented on #34
That's a good thing to discuss openly, I don't have a strong opinion on how it should work

[2021-02-08 11:36] schmengler commented on #35
Other alternatives:

- Same as C but if you omit the event name, a default one is chosen (i.e. like B)
- B but without XML. Always trigger the most common events like "click".
- B or C with an optional `observer` attribute so that for simple scripts it is as easy to use as A: `<event on="click" observer="console.log(this)">`

[2021-02-08 11:44] schmengler commented on #35
I do like the `<event>` approach and I think with one or more of the mentioned adjustments we can make it more accessible too

[2021-02-09 09:47] Vinai commented on #27
## Buttons

By default a form will have a single "Save" button, which posts the form to the build in save controller action.
This button can be disabled in the configuration, and additional buttons can be added, too.

First draft:
[code]
(The JS integration would be whatever comes out of the discussion and prototyping related to issue #35.)

If the label is omitted, the `id` attribute is used to g

[2021-02-09 09:49] Vinai commented on #35
Note to self: if using B or C there should be a special events that is triggered before and after the initial render.
Maybe something like

`<event on="init"/>`
`<event on="render"/>`

[2021-02-09 09:52] Vinai commented on #35
## Hyva_Admin Elements that can have events:

### Grids

* Grid row actions
* Grid rows
* Grid buttons

### Forms

* Form fields
* Form groups
* Form sections
* Form buttons

[2021-02-09 17:31] Vinai opened #36 "Forms progress"
This issue is my high level todo list while implementing forms support.

- [x] Create basic types and templates
- [x] Form config XML converter
- [ ] Create hyva-forms.xsd
- [ ] Test forms XML merging with ID attributes
- [ ] Create field declarations from field config
- [ ] Form entity type determination
- [ ] Extract fields from entity
- [ ] Merge form field declarations from entity with declara

[2021-02-12 20:25] Vinai opened #40 "Use grid block name in layout as fallback if no grid_name is present"
This is a really good idea from @johnhughes1984!

His question in Silo at the Hyvä launch party:

<img width="662" alt="good-idea" src="https://user-images.githubusercontent.com/72463/107819003-bb407980-6d78-11eb-8965-82ba3adaf75e.png">

[2021-02-12 20:50] #40 closed

[2021-03-08 09:50] Vinai opened #41 "Provide join table fields for generic grid collections"
Do not only use the main table, try to also provide joined fields
See \Hyva\Admin\Model\GridSourceType\CollectionGridSourceType::getRecordType

[2021-03-08 09:55] Vinai opened #42 "Empty grid from array provider throws exception"
Show no records instead...

[2021-03-11 08:22] Vinai commented on #42
fixed in main

[2021-03-11 08:22] #42 closed

[2021-03-15 10:50] senders commented on #28
I am getting the same error in magento 2.3.6
with your test extension:
https://github.com/hyva-themes/hyva-admin-test-module

[2021-03-15 12:00] Vinai commented on #28
I'll reopen the issue and add a polyfill in the next release.
Unfortunately I've got myself in a bit of a uncomfortable situation where I can't simply create a new release right now because:

1. Automatic backports to php7.3 with rector is no longer an option
2. I have a lot of work in the hyva-forms branch.

Because of 1) I want to backport the main branch to 7.3 manually and then use that for re

[2021-03-15 18:00] Vinai commented on #28
I followed through with the first option. Please upgrade to release 1.1.4 which includes the `SecureHtmlRenderere` polyfill.

[2021-03-15 18:00] #28 closed

[2021-03-31 11:50] Vinai commented on #27
## Entity Relations

One of the most tricky things to model in regards to the forms are entity relations.
For example, a way to select the simple products associated with a parent composite product type.

Relations could be handled through embedded grids, multiselects, and so on. I don't think there is a one-size-fits-all solution. Over time I hope that Hyva_Admin forms will offer a couple of opti

[2021-04-04 10:29] jvaughan opened #43 "Available DB columns are not properly checked in collection provider"
I have a grid configured as

[code]
I have added some columns to the sales_order table and they are correctly populating and accessible with `\Magento\Sales\Model\Order::getData()`.

However if I add them to `<columns><include></include></columns>` I get the error

[code]

What I think is happening:

I can see that the module tries to find all column names in the db in addition to finding the gett

[2021-04-06 08:47] Vinai commented on #43
Hi @jvaughan, thanks for your issue report!
Currently available columns are found through inspection of the returned model type, rather than the underlying table.
However, I see this is a real requirement.

The table column inspection is only used as a fallback when the collection model type is a generic object (only used for backend grid collections).

[2021-04-06 08:54] Vinai commented on #43
My current idea is to inspect the Select instance for for flat-table collections instead of only looking at the main table for generic entity types.
This should then cover your case, as well as support joined tables for the generic type collections.

[2021-04-06 10:00] jvaughan commented on #43
Thanks for the response (and great module!)

Would the array source be the way to go to have these fields included for the time being?

[2021-04-06 13:05] Vinai commented on #43
I've just released 1.1.5 - it would be super cool if you could update to that version and try if that works for you with a collection provider!

[2021-04-06 13:05] Vinai commented on #41
Implemented in release 1.1.5

[2021-04-06 13:05] #41 closed

[2021-04-06 15:01] jvaughan commented on #43
Wow, thanks.

Yes the column does now appear.

I am seeing an issue with boolean filtering on the (smallint) column but will raise a separate issue for that.

[2021-04-06 15:47] Vinai commented on #43
Thanks! One issue at a time is a good way forward!

[2021-04-06 15:47] #43 closed

[2021-04-07 07:46] Vinai commented on #17
In Hyva_Admin version 1.1.5 the `\Hyva\Admin\Model\TypeReflection\DbSelectColumnExtractor` was added, which can inspect `\Magento\Framework\DB\Select` instances to figure out columns and types.

Also, `\Hyva\Admin\Model\MethodValueBindings` provides all that is needed to pass values from PHP into the query.

All that is missing is the code to build the `Select` instance from the XML.

Note: the XM

[2021-04-07 08:56] Vinai commented on #17
Reworked draft for the query source type XML:

[code]

Nested subqueries will not be supported in the initial version.
Any conditions are specified using the `<defaultSearchCriteriaBindings>` outside of the `<query>` spec.

If no columns are specified on the main select, `*` is used.
For joined tables it is different: if no columns are specified on a join, no columns are added to the result set. I

[2021-04-07 14:55] Vinai commented on #17
Implement in future if it turns out they are needed:

- having
- subqueries

[2021-04-08 16:07] Vinai commented on #17
Feature complete in fb21882, now moving into manual testing and documentation.

[2021-04-09 09:40] Vinai commented on #17
Implemented in eaa9072

Still missing: documentation and the features for future enhancements listed in https://github.com/hyva-themes/magento2-hyva-admin/issues/17#issuecomment-814982844

[2021-04-09 19:53] Vinai commented on #17
First query source type released in 1.1.6.
Closing this issue for now. If one of the missing features above needs to be implemented, I'll reopen.

[2021-04-09 19:53] #17 closed

[2021-04-10 17:42] Vinai commented on #12
This was done by @pointia as part of #38

[2021-04-10 17:42] #12 closed

[2021-05-05 07:31] Vinai commented on #35
I'll start by implementing option B (Generic event child elements with convention based event names).
If needed an attribute to specify custom events can still be added in a backward compatible manner later.

[2021-05-05 14:55] Vinai commented on #35
## First experimental release in 1.1.12 to gather feedback

**The API for the action event node might be removed or changed in future.**

Specifying event triggers on actions allows creating complex ui customizations.
Only the event trigger can be specified in the grid XML:

[code]

## Event Name

The event name is built based on the grid name, the action id and the event trigger:

[code]

For exa

[2021-05-12 19:17] advocat opened #45 "Cannot use field(s) from source processor (beforeLoad)"
**Example:** You are want to join some field (stored in separate table) to product grid
You can use native collection and processor with join data on beforeLoad
[code]

But you cannot use field in grid definition like

[code]

**As Result:** Exception #0 (OutOfBoundsException): Column(s) not found on source: custom_filed

Please advise designed solution for?

I can define own collection and join t

[2021-05-13 08:49] Vinai commented on #45
Hi Victor,

thanks for opening the issue!
So far I never had to deal with this scenario, so it isn't supported yet. I've only worked with the collection provider with custom collections that joined tables in the init select, but the scenario you describe should be absolutely supported.
I'll add a bug label to this issue and hope to have a solution this week.

Time to add a `getGridName()` method.

[2021-05-13 09:25] advocat commented on #45
Vinai, let me explain more details about exclude scenario. This is more related to performance and extra data that are never use in grid. Maybe more correct request here is extract only included fields if they are specified.

**Precondition:** you have a real catalog (not sample data) with 100 custom attributes, with assigned related, upsell, crosssell. You create a grid and specify only 20 attrib

[2021-05-14 08:24] Vinai opened #46 "Avoid loading excluded fields"
This issue was originally raised in this thread:
https://github.com/hyva-themes/magento2-hyva-admin/issues/45#issuecomment-840436338

[2021-05-14 08:27] Vinai commented on #45
@advocat I've opened a separate issue #46  to track the exclude columns topic.

[2021-05-14 10:16] Vinai commented on #45
Regarding the join field, I've decided to introduce a new interface that is specific for collection source type processors:
`\Hyva\Admin\Api\HyvaGridCollectionProcessorInterface`

It declares a method `afterInitSelect` that can be used to join fields before the available columns are extracted or the search criteria is applied.

[code]
The new interface extends the `HyvaGridSourceProcessorInterface

[2021-05-14 10:58] Vinai commented on #45
Released in 1.1.14.
Documentation updates:

* API Reference:
  https://github.com/hyva-themes/magento2-hyva-admin/blob/main/doc/2.%20API%20Reference/PHP%20Classes%20and%20Interfaces/HyvaGridCollectionProcessorInterface.md

* Walkthrough:
  https://github.com/hyva-themes/magento2-hyva-admin/blob/main/doc/1.%20Overview/3.%20Hyva%20Admin%20Grid%20Walkthrough/04.2%20Using%20Grid%20Source%20Processors.

[2021-05-14 10:58] #45 closed

[2021-05-17 16:25] indefinitedevil opened #47 "Magento 2.3.x and below doesn't support anonymous classes"
Fixed in https://github.com/magento/magento2/commit/e165d99f5994af39d49ed70155c003745158e5db#diff-eac375a5ebf2447976201de8fbe0bd0d04ce9798bc0e49c573e8d755317dac22

Basically, as it stands, the DI compiler for versions below 2.4.0-p1 doesn't support anonymous classes and so any compilation which uses Hyva Admin will fail due to the anonymous classes used in the factory models.

[2021-05-19 08:03] Vinai commented on #47
Thanks for bringing this up, @indefinitedevil
I'd be willing to merge a PR that extracts all anonymous classes into named classes, but at the moment I don't have time to do it myself at the moment.
My first priority in my open source time is to get admin forms support working.
After that I would circle around to this issue if no one has beaten me to it by then.

[2021-05-21 07:54] Vinai commented on #36
Every essential part has been implemented. Currently a lot of manual testing is happening.

[2021-05-21 12:59] danslo opened #48 "Support for multiselect filters"
Should be an easy one to do. Will potentially work on this issue myself.

[2021-05-21 13:01] danslo opened #49 "Add time-range filter"
Another very easy one, already have it working by pretty much duplicating `DateRangeFilter` class and `date-range.phtml` (changing `date` input time to `time`).

Just need to cleanup and get it merged upstream etc.

[2021-05-25 14:58] Vinai commented on #48
That would be super duper cool 😎

[2021-05-26 07:45] hostep opened #50 "Illegal byte sequence during composer install, probably due to "hyvä" being used in filename"
Hi!

I just noticed when upgrading `hyva-themes/module-magento2-admin` from 1.1.5 to 1.1.14 the following output in the composer installation output:

[code]

Seems to be that composer can't handle the `Hyvä` filename of [that markdown file](https://github.com/hyva-themes/magento2-hyva-admin/blob/e9142748930ec69ee89e1e99cf848bcd0756c811/doc/1.%20Overview/5.%20Deep%20Docs/60.%20Hyv%C3%A4%20Admin%20

[2021-05-26 16:34] Vinai commented on #50
Thanks, will do!

[2021-05-26 16:40] Vinai commented on #50
Fixed in release 1.1.15

[2021-05-26 16:40] #50 closed

[2021-05-26 17:25] hostep commented on #50
Nice, I can confirm that it doesn't happen anymore on version 1.1.15

Thanks for the super fast change!

[2021-06-01 11:00] gaurangpadhiyar007 opened #51 "Class \Hyva\Admin\Model\GridSourceType\RepositorySourceType\$repo does not exist"
Generate error sometimes while running setup:upgrade command.
Error: Class \Hyva\Admin\Model\GridSourceType\RepositorySourceType\$repo does not exist
![image](https://user-images.githubusercontent.com/19263771/120312594-90ae0880-c2f6-11eb-9d1a-fd9a1da2f793.png)

[2021-06-01 12:00] Vinai commented on #51
Which Magento version are you running?

[2021-06-01 13:01] gaurangpadhiyar007 commented on #51
@Vinai

Magento version is : **2.3.4-p2**

[2021-06-01 14:03] gaurangpadhiyar007 commented on #51
@Vinai
might be duplicate of [issue](https://github.com/hyva-themes/magento2-hyva-admin/issues/47).
But still check once.

[2021-06-01 15:17] Vinai commented on #51
Ah yes, probably the same issue then.
As I've said there, I'll be happy to merge a related PR, but it will still be a little while until I get around to doing it myself.

[2021-06-04 16:22] mirkocesaro opened #53 "Grid page broken by module declared in composer as require-dev"
I am working on Magento 2.4.1 and I found this error in my log while I visit an admin page with Hyva-admin grid:

[code]

and, of course, the grid is not visible.

This is related to a module not registered with the module registrar but also present in the `config.php` file.

## How this is possible?
In my local env, I work with a dev module required by composer. It is added in the `config.php` fi

[2021-06-08 12:26] #53 closed

[2021-06-11 14:41] Vinai opened #54 "Add option to match "NULL", "starting with" and "ending with" to filters and others"
Message in Slack from Wouter Samaey:

[2021-06-11 14:44] woutersamaey commented on #54
Even a basic MQL text field would work for power users. With MQL I mean "Magento Query Language", kind of like Atlassian's JIRA has JQL. It's a bit like SQL. If you know the fields and basic syntax, you can write your own search. https://www.atlassian.com/blog/jira-software/jql-the-most-flexible-way-to-search-jira-14

This too would improve search a lot, but for power users only. Some may find it

[2021-06-11 14:52] Vinai commented on #54
Internally Hyva_Admin grids uses Magento's `SearchCriteria` for sorting, paging and filtering.
As long as a filter value can be expressed with the SearchCriteria feature set it will work.

* The SearchCriteria is passed straight to the repository gird source types.
* For collections, it is translated into `addFieldToFilter` calls by the `\Magento\Framework\Api\SearchCriteria\CollectionProcessor\Fi

[2021-06-11 14:55] woutersamaey commented on #54
Good call. I haven't looked at the code yet. Just wanted to point out how "pragmatic" it could be implemented. The solution may be closer than one would think.

[2021-06-11 14:56] Vinai commented on #54
Here is the list of supported conditions and. the SQL they would translate to:
[code]

[2021-06-22 15:31] Mordreak opened #55 "Filter on joined columns in a collectionGridProcessor doesn't work as the COUNT(*) query removes aliases"
Steps to reproduce :

- Create a new grid with a simple collection as a source.
- Add a joined and aliased column from another table on the collection in a custom GridCollectionProcessor
- Add the field as filterable in the grid xml config file
- Try to filter the field on the magento admin frontend

/!\ I only tried this with a text field, but I guess this is the same for any other column type.

[2021-07-01 08:34] inavdb opened #56 "Form Key Error with Pager on List Views"
_Error occures in the integer_net Slider module (see also internal ticket 17261)_

When in a list the number of elements exceeds the standard qty er page (here 20), you cannot edit an element when
1. You navigate to page 2 and try to open an element.
2. Switching the rows per page to e.g. 50, trying to edit en element any element

Instead, there's a form key error and you end up on the Dashboard.

[2021-07-01 08:49] Vinai commented on #56
Note to self: it seems the form key changes when an Ajax grid update id done.

[2021-07-01 12:25] Vinai commented on #56
I can see the action URL is configured as ` <action id="edit" label="Edit" url="*/*/edit"` in the grid XML.
This configuration doesn't work for Ajax updates of the grid, since they happen through a generic Ajax pager route.
Applying the following patch to the grid config should fix the issue:

[code]

I'll leave the issue open for now until you can confirm this fixes the problem.

[2021-07-01 14:13] Vinai commented on #56
I've patched the `UrlBuilder` during Ajax requests so it will use the original route to build new URLs.
Now it will work even without a config change.
This will be part of the 1.1.16 release.

[2021-07-01 17:00] Vinai commented on #55
Wrote a test to reproduce the issue:

[code]

Considerations:

1. Considered mapping field names to their aliases in the `Navigation::getSearchCriteria` view model method, but dismissed the idea because it would expose the view model to the implementation details of the underlying grid source type.
2. The other likely solution is to use a `HyvaGridSourceProcessor::beforeLoad` method in `\Hyva\Admi

[2021-07-01 17:02] Vinai commented on #55
A different but related issue exists for EAV collections. They expect columns to be declared as attributes. Joined columns will not be available as attributes. This will require a different solution (note to self: open a new issue for this).

[2021-07-01 17:04] Vinai opened #58 "Filter on joined columns in a collectionGridProcessor doesn't work for EAV collections"
EAV Collections expect columns to be declared as attributes. Joined columns are not available as attributes.

More information can be found in #55.

Test to reproduce the issue:
[code]

[2021-07-06 17:36] mattgrul opened #59 "Insert Grid into Forms"
Hi Vinai,

More of a question than an issue.

Is there currently any documentation surrounding inserting a grid into a form? I can add the grid into the form ui component using <htmlContent>

[code]

However when it comes to replicating the default Magento functionality of `exports`,  `imports`, `links` and `listens` to be able to filter the inserted grid and and an insetForm for example I'm unsur

[2021-07-06 18:18] mattgrul commented on #59
Looks like I may have found an answer to the above [here in the docs](https://github.com/hyva-themes/magento2-hyva-admin/blob/main/doc/1.%20Overview/3.%20Hyva%20Admin%20Grid%20Walkthrough/04.1%20Declaring%20source%20search%20bindings.md)

Is there are way to trigger the grid to refresh in an external javascript component after say adding a new entity within an InsetForm?

Thanks.

[2021-07-07 07:04] mattgrul commented on #59
This feels rather hacky and maybe not the right way however one way to achieve this would be something along the line s of:

1. Pass an argument to the Hyva Grid Block to identify the grid or maybe even use the $block->getUiId()?
2. Pass that same identifier to a custom Javascript component, extending say the form.js
3. Trigger a grid update along the same lines as the ajax update when the current

[2021-07-07 07:17] Vinai commented on #59
You could trigger an update of the grid using `ajaxGridUpdate` on the [Alpine view model](https://github.com/hyva-themes/magento2-hyva-admin/blob/main/view/adminhtml/templates/grid.phtml#L424).
Currently the method is not exposed to global scope, but maybe you could work around this by using something like
[code]

Then call `doUpdate()` whenever you want to reload the grid...

It for sure is hacky

[2021-07-07 08:21] mattgrul commented on #59
Thanks Vinai, love the idea just not comfortable with the implementation! I think I may hold of on this and revert back to the default insetListing and insetForm for now.

Is this something that will be available with the Forms work you are doing being able to inline Hyva Grids, or should it be a separate feature request for people to collab on?

[2021-07-07 09:09] Vinai commented on #59
Currently I'm focused on bugfixes for the grid and on finally getting the first version of forms support out the door.
If you feel like it, I would appreciate a PR very much!

[2021-07-08 07:43] MahamMubashir opened #60 "I want to show " I'm not Robot." on forgot password page."
I want to show " I'm not Robot." on forgot password page. But this Recaptcha always appears. Please can anyone help me with
![screenshot-odoo eguanacommerce com-2021 07 08-12_43_05](https://user-images.githubusercontent.com/38991060/124882684-143fd100-dfea-11eb-9dc0-9f43975fd786.png)
 this?

[2021-07-08 08:41] Vinai commented on #60
I think you got the wrong repo. Hyvä-Admin has nothing to do with the forgot password page or authentication or captchas.

[2021-07-08 08:41] #60 closed

[2021-07-08 09:23] MahamMubashir commented on #60
@Vinai Can you please guide me on where should I can ask about this issue?
I am getting this issue... in hyva theme... I am not a robot Recaptcha is not showing properly.

Thank You

[2021-07-08 12:38] Vinai commented on #60
If this is a Hyva question, ask in Slack.

[2021-07-12 15:33] lbuchholz commented on #56
@Vinai I can confirm this working for next page navigation, but clicking previous page link won't update anything.

[2021-07-14 12:01] Vinai commented on #56
Thanks for letting me know. I'll look into this, but it will be a while because vacation.

[2021-07-14 13:45] Vinai commented on #56
@lbuchholz I can't reproduce the issue paging through sliders or the test grids.
Is there any additional info you can give?

[2021-07-14 13:48] lbuchholz commented on #56
Not really... Use case is hyva_slider with 40+ sliders, page size 20. While I can navigate to next and last page, I cannot go to previous or first page.

[2021-07-14 13:48] Vinai commented on #56
Same behavior when you change to a page size of 10?

[2021-07-14 13:51] lbuchholz commented on #56
Yes.

[2021-07-14 13:54] Vinai commented on #56
I have created 30 sliders, no problem with paging back or forth.
Any errors in the console or the ajax response?

[2021-07-26 12:58] Vinai commented on #56
Do you have an answer to my question @lbuchholz? Could you check in the network tab in the devtools if there is some kind of exception or something?

[2021-08-04 07:01] lbuchholz commented on #56
@Vinai Sorry for taking such a long time to respond. I just did a complete reinstall of all modules involved et voilà, works. 🙄
Please close, thank you 👍

[2021-09-21 07:40] MahamMubashir opened #61 "Configurable Product Image Gallery Sort Order"
Issue: When we set the sort order from the admin panel then that sort order does not affect at frontend

Analysis and Finding:

1: This issue does not exist in the Luma theme

2: In the Hyva theme this issue exists only for configurable products

So this is the issue of Hyva theme

[2021-09-24 07:46] Vinai commented on #61
Thanks for reaching out, but this is the wrong repository. please check the list of issues and open a new one if there is none already in the appropriate repository on the Hyvä gitlab.

[2021-09-24 07:46] #61 closed

[2022-01-03 13:07] tajveez-73 opened #62 "Grid Filters for Grid with source arrayProvider Not working"
Hi,

I am making a Hyva grid with `source` as `arrayProvider` and have given `filters` tag in the XML file like following

[code]
the filters are showing on the grid they aren't working. Is this how we add filters to the grid with the `source` as `arrayProvider` or am I missing something.

Thanks.

[2022-02-05 12:32] Jacques03 commented on #48
Hi,

This would be a nice feature to avoid having to install complex layered navigation module.

Is it planned ?

Thanks !

[2022-02-05 12:46] Jacques03 opened #65 "Menu on mobile > can't scroll down to see more subcategories"
Hi,

On mobile, if you have a lot of subcategories (I have 14) in a main category, you can't scroll down to see the remaining subcategories:

Ex here, on Iphone 11Pro:

<img width="277" alt="Capture d’écran 2022-02-05 à 13 41 42" src="https://user-images.githubusercontent.com/9104241/152642572-d00f1fae-f8d2-4a01-93b3-e8fc02867c22.png">

I'm not able to see the remaining subcategories scrolling d

[2022-02-05 12:49] Jacques03 commented on #65
Sorry, this is of course not about Hyva admin, but Hyva theme

[2022-02-05 13:22] Vinai commented on #65
Hi @Jacques03 , here is a link to the related issue in our private Gitlab: https://gitlab.hyva.io/hyva-themes/magento2-default-theme/-/issues/301

[2022-02-05 13:22] #65 closed

[2022-02-05 13:24] Vinai commented on #48
@Jacques03 I think you are confusing this module with the store front layered navigation.

[2022-02-05 16:18] Jacques03 commented on #48
@Vinai oups yes, sorry.
Would be nice though :)

[2022-03-17 06:33] Vinai commented on #62
That should work. I can apply filters to grids with an array source. I'll have too look into this.

[2022-04-22 09:00] rbouma commented on #27
it's been a while, any updates on the progress?

[2022-06-11 13:09] nopenopenope opened #68 "Not an issue: thanks for making Backend life easier. <3"
No text. Have a wonderful weekend!

[2022-06-13 16:40] Vinai commented on #68
Thank you! ❤️

[2022-06-14 12:48] maheshwaran-1343 commented on #42
Hi @Vinai , can you please share the sample code for empty grid  array provider

[2022-07-31 22:29] #68 closed